<div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100">

    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="20">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="20">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="20">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="20">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="20">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="20">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque hic libero deleniti!

        </div>
    </div>
</div>